@model IdeallySpeaking.Models.Comment

@{
    ViewData["Title"] = "Article Comments";
}

            
@Model.Title
<span class="small">@Model.CommentDate</span> 
@Model.CommentContent                        
            
<hr />                           
<a asp-action="Edit" asp-route-id="@Model.CommentId">Edit</a> |                 |
<a asp-action="Delete" asp-route-id="@Model.CommentId">Delete</a>
            
            
@Model.CommentsRating.Rating
@* Add CommentsRatingViewModel Properties (RatingUp, Down, etc.)
    AND HTML/CSS to make it sparkle!
*@
            
        


