@model IdeallySpeaking.Models.Article
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
       

<img class="card-img" src="~/images/Article_Images/016952-barack-obama-061615.jpg" height="80" width="160">
<a asp-controller="Articles"><h5 class="mt-1">@Html.DisplayFor(model => model.Headline)</h5></a>
<small>@Html.DisplayFor(model => model.AuthorUserId)</small>
<small>@Html.DisplayFor(model => model.Date)</small>    


@*
    <img src= "@Url.Content("~/uploads/imageName.jpg")" alt="IMAGES" />   

    -OR-
    (in new class)
    public static class HtmlExtensions
    {
        public static MvcHtmlString Image(this HtmlHelper html, byte[] image)
        {
            var img = String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(image));
            return new MvcHtmlString("<img src='" + img + "' />");
        }
    }

    (in view)
    @Html.Image(Model.ImgBytes)
*@