@model IdeallySpeaking.Models.Article
@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
    ViewData["Title"] = "Full Article";
    ViewData["PartialURL"] = "~/Views/Comments/CreatePartial.cshtml";
}
@* Check Facebook Meta Tags At: https://developers.facebook.com/tools/debug/  *@

<a id="top"></a>
   
<nav class="breadcrumb">
    <a class="breadcrumb-item" asp-controller="Home" asp-action="Index">Home</a>
    <a class="breadcrumb-item" asp-controller="ApplicationUser" asp-action="Profile">My Profile</a>
    <a class="breadcrumb-item" asp-controller="Account" asp-action="LogOff">Log Out</a>    
</nav>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                @Html.Partial("ArticleDetailsPartial")
            </td>            
        </tr>
    </thead>
    <tbody>
        <tr>            
            <td class="">
                @Html.Partial("ArticleContentPartial")                
            </td>
        </tr>
    </tbody>
</table>

<p class=""> 
    <a href="#commentHere" class="btn-sm btn-success">Add Comment</a>    
</p>
<hr />

<a href="#">First Post</a>  &raquo  <a href="#">Last Post</a>  &raquo  <a asp-controller="Comments" asp-action="PopularCommentsList">Popular Comments</a>  &raquo  <a href="#">My Posts</a>

@* // Each Comment
    @foreach (var item in Model)
    { *@
    <div class="media">
        <a class="d-flex align-self-start mr-3" href="#">
            <img class="" src="~/images/Miscellaneous/Placeholder.png" alt="Generic placeholder image">
        </a>
            <div class="media-body">
                <h5 class="mt-0">Top-aligned media</h5>
                @{ var reply =  new ReplyViewModel(); }
                @if (reply.ArticleId.Equals(Model.ArticleId))
                {
                    @Html.Partial("ReplyPartial.cshtml")
                }
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
    </div>
@*    @Html.Partial("IndexPartial", item);
    }*@


                
<div class="btn-group mb-2" role="group" aria-label="Pages">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
</div>
            
<div class="">
    <a id="commentHere"></a>
    @Html.Partial((string)ViewData["PartialURL"])    
</div>
<div>    
    <br />
    <p class="">
        <a href="#top" class="btn-sm btn-bracketed">Back to Top</a>  |
        <a asp-controller="Home" asp-action="Index" class="btn-sm btn-bracketed">Home</a>
    </p>
</div>
