@model IEnumerable<IdeallySpeaking.Models.Article>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article Search</title>
</head>
<body>
    <a id="top"></a>
    <p>Search for an Article by Headline</p>
    <form asp-controller="Articles" asp-action="Search" method="get">
        <p>
            Title: <input type="text" name="searchString">
            <input type="submit" value="Filter" />
        </p>
    </form>

<table class="table">
    <thead>
        <tr>               
            <th>Search Results</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headline)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teaser)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
        </tr>
        <tr>
            <td>                
                <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                <a asp-controller="Articles" asp-action="FullArticle">Back To Articles</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <div>
        <br />
        <p class="">
            <a href="#top" class="btn-sm btn-bracketed">Back to Top</a>  |
            <a asp-controller="Home" asp-action="Index" class="btn-sm btn-bracketed">Home</a>
        </p>
    </div>
</body>
</html>
