@model IdeallySpeaking.Models.ApplicationUserViewModels.ProfileEditViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = $"{@Model.UserName}'s Profile";
}


@if (Model.UserName == "")
{
    <p> Please choose a user name below.</p>
}
else if (Model.UserName == null)
{
    <p> You may choose a user name below.</p>
}
else
{
    <h2><span class="badge badge-info">@ViewData["Title"]</span></h2>
}

@Html.DisplayFor(model => model.UserName);
@Html.DisplayFor(model => model.Location);
@Html.DisplayFor(model => model.Link);
<hr />
<p>
    @Html.DisplayFor(model => model.Avatar);
</p>
<p>
    @Html.DisplayFor(model => model.Signature);
</p>

<ul class="">
    <li class="">@Html.DisplayFor(model => model.Facebook)</li>
    <li class="">@Html.DisplayFor(model => model.Twitter)</li>
</ul>



<form>
    <div class="form-group">
        <label for="UserName">User Name</label>
        <input type="text" class="form-control" id="UserName" placeholder="Enter User Name">
        <small id="UserName" class="form-text text-muted">Choose a community user name.</small>
    </div>
    <div class="form-group">
        <label for="Link">URL</label>
        <input type="url" class="form-control" id="Link" placeholder="Enter an URL preceded by http://">
    </div>
    <div class="form-group">
        <label for="Signature">Signature</label>
        <textarea class="form-control" id="Signature" rows="3"></textarea>
    </div>    
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@Html.Partial("ProfileAvatarPartial")

<a asp-controller="Account" asp-action="Register">Register as a new user?</a>